:root {
    --yellow: rgba(255, 205, 30, 1);
    --black: #000;
    --white: #fff;
    --transition-speed: 0.3s;
  }
  
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: var(--yellow);
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    transition: background-color var(--transition-speed);
    scroll-behavior: smooth;
    padding-bottom: 20px; /* Added padding to ensure last section visibility */
  }
  
  h1 {
    font-size: 3em;
    margin-bottom: 20px;
    text-align: center;
    color: var(--black);
    animation: fadeIn 2s ease-in-out;
  }
  
  .main-content {
    width: 80vw;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 15px;
    gap: 20px;
  }
  
  .container {
    display: flex;
    align-items: center;
    gap: 10%;
    background-color: var(--white);
    border-radius: 50px;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform var(--transition-speed), box-shadow var(--transition-speed);
    overflow: hidden; /* Ensure content does not overflow */
  }
  
  .container:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .row-reverse {
    flex-direction: row-reverse;
  }
  
  .container > div {
    width: 50%;
  }
  
  .img-container img {
    width: 100%;
    height: auto;
    border-radius: 20px;
    transition: transform var(--transition-speed);
  }
  
  .img-container img:hover {
    transform: scale(1.05);
  }
  
  .links {
    background-color: transparent;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 15px;
  }
  
  .links a {
    text-decoration: none;
    border: 2px solid var(--black);
    background-color: var(--white);
    padding: 10px 15px;
    border-radius: 25px;
    font-weight: bold;
    transition: background-color var(--transition-speed), color var(--transition-speed);
  }
  
  .links a:hover {
    background-color: var(--black);
    color: var(--white);
  }
  
  @media only screen and (max-width: 600px) {
    .container {
      flex-direction: column;
      padding: 10px;
      gap: 10px;
      justify-content: center;
      align-items: center;
      margin: 10px 0; /* Added margin to prevent text overflow */
    }
  
    .container > div {
      width: 100%; /* Ensure full width for mobile */
    }
  
    .main-content {
      width: 95vw;
      padding: 0;
    }
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  